@media only screen and (max-width: 992px) {
  /* real number section && ranking card section */
  section#rankingCards .rank-card {
    max-width: 380px;
  }
  section#aboutUs .about-us-card {
    margin-top: 2rem;
  }
  section#aboutUs .about-us-card-same {
    position: relative;
    top: 0px !important;
    left: 0px !important;
  }
}
/* top header section common color  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html {
  font-family: "Red Hat Display", sans-serif;
}

section#topHeader {
  border-bottom: 1px solid rgba(165, 183, 210, 0.4117647059);
}
section#topHeader a {
  text-decoration: none;
  color: #A5B7D2;
  transition: 0.5s;
}
section#topHeader a:hover {
  color: #fe4c1c;
  transform: 0.5s;
}

.same-color {
  color: #A5B7D2;
}

.same-bg-color {
  background-color: #F0F6FF;
}

.top-left-span {
  border-right: 1px solid;
}

#topRight a i {
  color: #00C3FF;
}

.top-image-search-shadow {
  box-shadow: 3px 3px 7px 0px rgba(3, 162, 236, 0.5411764706);
}

/* navbar  */
.nav-link-hover li a {
  transition: 0.5s;
}
.nav-link-hover li:hover a {
  color: red !important;
  transform: scale(1.12);
}

header {
  overflow: hidden;
  background-image: url("../images/bg-sabout-home2.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
}
header .side-border {
  border-right: 2px solid #A5B7D2;
}
header .heading-header-p-color {
  color: rgba(0, 0, 0, 0.431372549);
}
header button.header-custorm-btn {
  color: white;
  background: #FE4C1C;
  padding: 10px 26px;
  font-size: 21px;
  box-shadow: 3px 4px 9px -1px rgba(254, 76, 28, 0.4392156863);
  font-weight: bold;
  letter-spacing: 2px;
}
header button.header-custorm-btn-two {
  width: 50px;
  height: 50px;
  background: #03A2EC;
  color: white;
  border-radius: 50%;
  font-size: 21px;
  box-shadow: 3px 4px 9px -1px rgba(3, 162, 236, 0.5215686275);
}
header .worked-logo img {
  opacity: 0.7;
  filter: grayscale(100%);
  transition: 0.5s;
}
header .worked-logo img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.spacener {
  height: 12rem;
}

.space {
  height: 5rem;
}

.low-space {
  height: 3rem;
}

/* real number section && ranking card section */
section#rankingCards::before {
  content: "";
  display: table;
}
section#rankingCards .real-number i {
  font-size: 10px;
  margin-top: 5px;
}
section#rankingCards .col-md-width {
  padding: 0 37px;
  transition: 0.5s;
  position: relative;
}
section#rankingCards .col-md-width .img-public-one {
  position: absolute;
  max-width: 100px;
  left: -43px;
  bottom: 44px;
  z-index: 1;
  transition: 0.5s;
}
section#rankingCards .col-md-width .img-public-two {
  position: absolute;
  max-width: 100px;
  right: -27px;
  bottom: 61px;
  z-index: 1;
  transition: 0.5s;
}
section#rankingCards .col-md-width:hover .rank-card {
  transform: translateY(-20px);
  box-shadow: 12px 12px 38px 8px rgba(42, 67, 113, 0.53);
  border-radius: 0;
}
section#rankingCards .col-md-width:hover .rank-card h5 {
  transform: scale(1.4);
}
section#rankingCards .col-md-width:hover .img-public-one {
  transform: translateY(45px);
}
section#rankingCards .col-md-width:hover .img-public-two {
  transform: translateY(45px);
}
section#rankingCards .rank-card {
  transition: 0.5s;
  box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, 0.15);
  -webkit-box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, 0.15);
  border-radius: 15px;
  background-color: #fff;
}
section#rankingCards .rank-card .card-body {
  padding: 3rem;
  text-align: center;
}
section#rankingCards .rank-card .card-body h5 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: 0.5s;
}
section#rankingCards .rank-card .card-body p {
  font-weight: bold;
}
section#rankingCards .rank-card .card-body-three {
  padding: 4rem;
}
section#rankingCards .rank-card .card-title-one {
  color: #00c3ff;
}
section#rankingCards .rank-card .card-title-two {
  color: #0160E7;
}
section#rankingCards .rank-card .card-title-three {
  color: #FE4C1C;
}

section#advisor {
  padding-top: 2rem;
  background-image: url("../images/bgShape.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
section#advisor .advisor-two i {
  font-size: 10px;
}
section#advisor .advisor-heading span {
  color: gray;
}
section#advisor .advisor-buttons #animContainerrr {
  width: 40%;
}
section#advisor .advisor-buttons #animContainerrr iframe {
  width: 100%;
}
section#advisor p {
  color: rgba(0, 0, 0, 0.29);
}

section#aboutUs {
  padding-top: 5rem;
  background-image: url("../images/2ndShape.png");
  background-repeat: no-repeat;
  background-position: top bottom;
}
section#aboutUs .about-us .real-number i {
  font-size: 10px;
}
section#aboutUs .about-us-heading p {
  color: gray;
  text-align: justify;
}
section#aboutUs .about-us-buttons h3 {
  color: #FE4C1C;
}
section#aboutUs .about-us-card {
  box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, 0.15);
  -webkit-box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, 0.15);
  border-radius: 15px;
  background-color: #fff;
  box-shadow: none;
}
section#aboutUs .about-us-card .card-body {
  padding: 3rem;
  text-align: center;
}
section#aboutUs .about-us-card .card-body h5 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: 0.5s;
}
section#aboutUs .about-us-card .card-body p {
  font-weight: bold;
}
section#aboutUs .about-us-card-same {
  position: relative;
  top: -47px;
  left: -14px;
}
section#aboutUs .about-us-card-one {
  background-color: #E5F9FF;
  transition: 0.5s;
}
section#aboutUs .about-us-card-one i {
  color: #00C3FF;
  box-shadow: 10px 10px 30px 0px rgba(2, 156, 236, 0.27);
  transition: 0.5s;
}
section#aboutUs .about-us-card-one:hover {
  background-color: white;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.18);
}
section#aboutUs .about-us-card-one:hover i {
  background-color: #E5F9FF;
  box-shadow: none;
}
section#aboutUs .about-us-card-two {
  background-color: #EAF3FF;
  transition: 0.5s;
}
section#aboutUs .about-us-card-two i {
  color: #0160E7;
  box-shadow: 10px 10px 30px 0px rgba(1, 96, 231, 0.26);
  transition: 0.5s;
}
section#aboutUs .about-us-card-two:hover {
  background-color: white;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.18);
}
section#aboutUs .about-us-card-two:hover i {
  background-color: #E5F9FF;
  box-shadow: none;
}
section#aboutUs .about-us-card-three {
  background-color: #FFEBE6;
  transition: 0.5s;
}
section#aboutUs .about-us-card-three i {
  color: #FE4C1C;
  box-shadow: 10px 10px 30px 0px rgba(254, 76, 28, 0.31);
  transition: 0.5s;
}
section#aboutUs .about-us-card-three:hover {
  background-color: white;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.18);
}
section#aboutUs .about-us-card-three:hover i {
  background-color: #FFEBE6;
  box-shadow: none;
}
section#aboutUs .about-us-card-four {
  background-color: #FFF2E8;
  transition: 0.5s;
}
section#aboutUs .about-us-card-four i {
  color: #FF9C27;
  box-shadow: 10px 10px 30px 0px rgba(255, 156, 39, 0.29);
  transition: 0.5s;
}
section#aboutUs .about-us-card-four:hover {
  background-color: white;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.18);
}
section#aboutUs .about-us-card-four:hover i {
  background-color: #FFF2E8;
  box-shadow: none;
}
section#aboutUs .about-us-card-icon i {
  font-size: 2rem;
  padding: 14px 22px;
  border-radius: 50%;
  background: white;
}
section#aboutUs .about-us-card-body {
  padding: 2.7rem !important;
}
section#aboutUs .about-us-card-body p {
  line-height: 35px;
}

section#nextWebsite {
  z-index: 1;
  position: relative;
}
section#nextWebsite .next-website {
  z-index: 1;
  background-image: url("../images/gradientImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 1rem;
  border-radius: 9px;
  box-shadow: 23px 0px 32px 0px rgba(254, 76, 28, 0.42);
}
section#nextWebsite .next-website:hover a {
  transform: scale(1.2);
}
section#nextWebsite .next-website:hover a i {
  color: black;
}
section#nextWebsite .next-website h1 {
  color: white;
}
section#nextWebsite .next-website a {
  transition: 0.5s;
}
section#nextWebsite .next-website a i {
  color: white;
  box-shadow: 10px 10px 30px 0px rgba(254, 76, 28, 0.31);
  transition: 0.5s;
}

section#team {
  margin-top: -10rem;
  z-index: 0;
  background-color: #0049B1;
  background-image: url("../images/people/teamBg.png");
  padding: 8rem 0rem;
  background-repeat: no-repeat;
  background-size: cover;
}
section#team .team-head {
  margin-top: 7rem;
}
section#team .team-head-icon {
  color: #00C3FF;
  letter-spacing: 3px;
}
section#team .team-head-icon i {
  font-size: 10px;
}
section#team .team-head-body {
  color: #fff;
}
section#team .team-body-item {
  position: relative;
  border-radius: 15px;
  transition: all 0.5s;
  margin-bottom: 7rem;
}
section#team .team-body-item-img {
  overflow: hidden;
}
section#team .team-body-item:hover .team-body-item-img img {
  transform: scale(1.3);
}
section#team .team-body-item-img img {
  border-radius: 15px;
  transition: 0.5s;
}
section#team .team-body-item-box {
  position: absolute;
  bottom: -42px;
  left: 7%;
  background: #fff;
  width: 85%;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 15px;
}
section#team .team-body-item-icon {
  position: absolute;
  bottom: -76px;
  right: 16%;
  transition: 0.5s;
}
section#team .team-body-item-icon a {
  font-weight: bold;
  background-color: #00c3ff;
  color: #fff;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 0.3rem;
  box-shadow: 5px 5px 18px 0 rgba(21, 183, 236, 0.3);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
  width: 43px !important;
  display: inline-block;
}
section#team .team-body-item-icon a:hover {
  transform: translateY(-10px);
}
section#team .team-body-item-icon p {
  font-weight: bold;
  background-color: #00c3ff;
  color: #fff;
  border-radius: 50%;
  margin-left: 0.3rem;
  font-size: 1.2rem;
  padding: 7px 7px 1px 6px;
  margin-right: 0.5rem;
  box-shadow: 5px 5px 18px 0 rgba(21, 183, 236, 0.3);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}
section#team .team-body-item-icon .master-class {
  transition: 0.5s;
}
section#team .team-body-item-icon .click-master-class {
  transform: rotate(45deg);
  background: white !important;
  color: #00c3ff !important;
  transition: 0.5s;
}
section#team .team-body-item-icon .as-master-class-hide-one, section#team .team-body-item-icon .as-master-class-hide-two, section#team .team-body-item-icon .as-master-class-hide-three, section#team .team-body-item-icon .as-master-class-hide-four, section#team .team-body-item-icon .as-master-class-hide-five, section#team .team-body-item-icon .as-master-class-hide-six, section#team .team-body-item-icon .as-master-class-hide-seven, section#team .team-body-item-icon .as-master-class-hide-eight {
  opacity: 0;
  transition: 0.5s;
}
section#team .team-body-item-icon .master-class-child {
  transition: all 0.5s;
  opacity: 1 !important;
}

section#portfolio {
  overflow: hidden;
}
section#portfolio .portfolio {
  margin-top: 5rem;
}
section#portfolio .portfolio-headers-nav {
  margin: auto;
  position: relative;
  width: 500px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
}
section#portfolio .portfolio-headers-nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #000;
  padding: 11px 23px;
  z-index: 1;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}
section#portfolio .portfolio-headers-nav a:hover {
  color: #FE4C1C;
  transform: scale(1.1);
}
section#portfolio .portfolio-headers-nav a.nav_active {
  color: #FE4C1C !important;
  transform: scale(1.1);
  transform: 0.5s;
}
section#portfolio .portfolio-headers-nav a:nth-child(1):hover ~ span {
  left: 0;
}
section#portfolio .portfolio-headers-nav a:nth-child(2):hover ~ span {
  left: 79px;
}
section#portfolio .portfolio-headers-nav a:nth-child(3):hover ~ span {
  left: 158px;
}
section#portfolio .portfolio-headers-nav a:nth-child(4):hover ~ span {
  left: 260px;
}
section#portfolio .portfolio-headers-nav a:nth-child(5):hover ~ span {
  left: 372px;
}
section#portfolio .portfolio-headers-nav a:focus {
  border: none !important;
}
section#portfolio .portfolio-headers-nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 100%;
  border-radius: 8px;
  transition: all 0.5s;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
}
section#portfolio .portfolio-item {
  margin: 1rem 0;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
section#portfolio .portfolio-item:hover img {
  transform: scale(1.4);
}
section#portfolio .portfolio-item:hover .portfolio-item-one {
  opacity: 1;
  transform: scale(1);
}
section#portfolio .portfolio-item img {
  transition: all 0.5s;
}
section#portfolio .portfolio-item-one {
  position: absolute;
  top: 15px;
  z-index: 1;
  margin: 15px;
  background: rgba(0, 73, 177, 0.9);
  left: 15px;
  color: white;
  height: 85%;
  width: 85%;
  opacity: 0;
  padding: 10rem 1rem;
  border-radius: 12px;
  transition: all 0.5s;
  transform: scale(0);
}
section#portfolio .portfolio-item-one p {
  color: #00c3ff;
}

section#service {
  padding: 11rem 0;
  background-image: url("../images/cards/service-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 24px;
  overflow: hidden;
}
section#service .service {
  max-width: 80%;
}
section#service .service-cards-one {
  box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, 0.15);
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}
section#service .service-cards-one:hover {
  background: #0160E7;
  transform: translateY(-20px);
}
section#service .service-cards-one:hover h5 {
  color: #fff;
}
section#service .service-cards-one:hover p {
  color: #fff;
  opacity: 0.5;
}
section#service .service-cards-one:hover i {
  color: #fff;
}
section#service .service-cards-one p {
  color: #606060;
  line-height: 1.8rem;
  font-size: 1.02rem;
}
section#service .service-cards-one-icon {
  color: #0160E7;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 100%, #f2295b 100%);
}
section#service .service-cards-one-icon i {
  text-shadow: 8px 8px 18px rgba(1, 96, 231, 0.3);
  transition: 0.5s all;
}
section#service .service-cards-one-number {
  bottom: -1.3rem;
  right: 0.5rem;
  color: #F0F6FF;
}
section#service .service-cards .card-same-relative {
  right: -5rem;
}
section#service .service-cards .card-same-relative-left {
  left: -4rem;
}

section#great {
  background: url("/images/social/bg-bottom-home5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#great .great {
  padding: 13rem 0;
  background: url("/images/social/bg2-bottom-home5.png");
  background-repeat: no-repeat;
  background-position: center center;
}
section#subscribe {
  z-index: 10;
  position: relative;
}
section#subscribe .container {
  background-color: transparent;
  background-image: linear-gradient(90deg, #FF403E 0%, #FF811B 100%);
  border-radius: 2rem;
}
section#subscribe .subscribe {
  margin-top: -11rem !important;
  z-index: 10;
  padding: 5rem 2rem;
}
section#subscribe .subscribe-text {
  color: #fff;
}
section#subscribe .subscribe-form-one {
  width: 100%;
}
section#subscribe .subscribe-form form {
  padding: 0.5rem 0;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: #fff;
  border-radius: 6rem;
  display: flex;
  justify-content: space-between;
}
section#subscribe .subscribe-form form:hover button {
  background-color: #0160E7;
}
section#subscribe .subscribe-form form input {
  width: 60%;
  border: none;
  font-size: 1.5rem;
}
section#subscribe .subscribe-form form input:focus {
  outline: 0;
}
section#subscribe .subscribe-form form button {
  width: 30%;
  font-weight: bold;
  padding: 10px;
  border-radius: 2rem;
  border: none;
  background-color: #FF423D;
  color: #fff;
  transition: 0.5s all;
}
section#subscribe .subscribe-form form button:hover {
  transform: scale(0.8);
}

footer {
  background-color: #0049B1;
  background-image: url("/images/bg-footer-home5.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
footer .footer {
  margin-top: -7rem;
  z-index: 0;
  padding-bottom: 5rem;
  padding-top: 10rem;
}
footer .footer-one img {
  width: 60%;
}
footer .footer-one i {
  padding-right: 1rem;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 50%;
}
footer .footer-one i:nth-child(1) {
  color: #D1E9FC;
}
footer .footer-one i:nth-child(2) {
  color: #00C3FF;
}
footer .footer span {
  color: #9ee8ff;
  font-weight: 700;
}
footer .footer li a {
  text-decoration: none;
  font-weight: medium;
  font-size: 1rem;
  color: #9ee8ff;
}/*# sourceMappingURL=main.css.map */